body {
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin: 25px 5px;
}

.logo {
    width: 30%;
    height: 100%;
}
.logo img {
    height: 100%;
    width: 10rem;
    border-radius: 50%;
}

header nav a{
    color:#c2a476;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    transition: .5s;
}

header nav a:hover{
    color: #654321;
}

.localizador a{
    color: #c2a476;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
}

.localizador a:hover{
    color: #654321;
}
