body {
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin: 25px 5px;
}

.logo {
    width: 30%;
    height: 100%;
}
.logo img {
    height: 100%;
    width: 10rem;
    border-radius: 50%;
}

header nav a{
    color:#c2a476;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    transition: .5s;
}

header nav a:hover{
    color: #654321;
}

.localizador a{
    color: #c2a476;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
}

.localizador a:hover{
    color: #654321;
}

.ofertas{
    width: 100%;
    display: inline-block;
    align-content: space-between;
}

.info1{
    color:#c2a476;
    float: left;
    width: 50%;
    height: auto;
}

.container{
    float: right;
}

.container .wrapper{
    width: 60vw;
    height: 75vh;
    margin: 5rem auto;
    overflow: hidden;
}

.container .wrapper-holder{
    display: grid;
    grid-template-columns: repeat(4, 100%);
    width: 100%;
    height: 100%;
    animation: slider 30s ease-in-out infinite alternate;
}

.container #slider-img-1{
    background-image: url(img/slide1.jpeg);
    background-position: center;
}

.container #slider-img-2{
    background-image: url(img/slide2.jpeg);
    background-position: center;
}

.container #slider-img-3{
    background-image: url(img/slide3.jpg);
    background-position: center;
}

.container #slider-img-4{
    background-image: url(img/slide4.jpg);
    background-position: center;
}

@keyframes slider {
    0%{transform: translateX(0%)}
    10%{transform: translateX(-100%)}
    20%{transform: translateX(-100%)}
    30%{transform: translateX(-200%)}
    40%{transform: translateX(-200%)}
    50%{transform: translateX(-200%)}
    60%{transform: translateX(-300%)}
    70%{transform: translateX(-300%)}
    80%{transform: translateX(-300%)}
    90%{transform: translateX(0%)}
    100%{transform: translateX(0%)}
}